[submodule "assets/NamesList"]
	path = assets/NamesList
	url = https://github.com/Aptivi-Analytics/NamesList.git
[submodule "assets/WordsList"]
	path = assets/WordsList
	url = https://github.com/Aptivi-Analytics/WordsList.git
[submodule "assets/UnicodeList"]
	path = assets/UnicodeList
	url = https://github.com/Aptivi-Analytics/UnicodeList.git
[submodule "assets/KaomojiList"]
	path = assets/KaomojiList
	url = https://github.com/Aptivi-Analytics/KaomojiList.git
[submodule "tools"]
	path = tools
	url = https://github.com/Aptivi/tools.git
[submodule "DocGen/theme"]
	path = DocGen/theme
	url = https://github.com/Aptivi/docfx-apt.git
