[submodule "assets/NamesList"]
	path = assets/NamesList
	url = https://gitlab.com/aptivi/analytics/NamesList.git
[submodule "assets/WordsList"]
	path = assets/WordsList
	url = https://gitlab.com/aptivi/analytics/WordsList.git
[submodule "assets/UnicodeList"]
	path = assets/UnicodeList
	url = https://gitlab.com/aptivi/analytics/UnicodeList.git
[submodule "assets/KaomojiList"]
	path = assets/KaomojiList
	url = https://gitlab.com/aptivi/analytics/KaomojiList.git
[submodule "tools"]
	path = tools
	url = https://gitlab.com/aptivi/main/tools.git
[submodule "DocGen/theme"]
	path = DocGen/theme
	url = https://gitlab.com/aptivi/main/docfx-apt.git
